html{
    font-family: sans-serif;
}
body{
    background-color: grey;
    text-align: center;
}
#wrapper{
    font-size: 20px;
}
h1{
    background-color: black;
    color: aqua;
}
p{
    font-size: 20px;
    text-align: center;
}
#guess{
    font-size: 45px;
    margin-top: 20px;
    color: azure;
}
#guessField{
    width: 270px;
    height: 50px;
    border-style: none;
    border: 2px solid green;
    margin-top: 20px;
    text-align: center;
}
#submit{
    background-color: black;
    color: red;
    margin-top: 20px;
    font-size: 30px;
    border-radius: 20px;
    border: 5px solid blue;
}
.guesses{
    background-color: deeppink;
    color: white;
    padding: 5px;
}
.lastResult{
    background-color: orange;
    color: rgb(26, 3, 3);
    padding: 10px;
}
#newGame {
    display: flex;
    justify-content: center;
    align-items: center;     /* Centers vertically */
    height: 50px;
    width: 250px;
    background-color: blue;
    color: red;
    border-radius: 20px;
    margin: auto;


}