body{
    background-color: grey;
}
.container{
    margin: 100px auto 100px;
    width: 100%;
    text-align: center;
}
#length{
    width: 200px;
    height: 20px;
}
#width{
    width: 200px;
    height: 20px;
    margin-top: 10px;
}
#results {
  font-size: 35px;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 20px;
  color: black;
  background-color: pink;
}
button{
    font-size: 30px;
    padding-left: 5px;
    width: 200px;
    height: 40px;
    background-color: red;
    margin: 10px auto;
}