
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    background-color: #282c34;
    color: white;
}
.center {
    text-align: center;
    font-size: 50px;
}
#Clock {
    font-size: 30px;
    background-color: pink;
    color: black;
    padding: 20px 100px;
    margin-top: 20px;
    border-radius: 50px;

}
