
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
}
.center {
    text-align: center;
}
#Clock {
    font-size: 48px;
    background: pink;
    padding: 20px 100px;
    margin-top: 20px;
    border-radius: 10px;
}
